<div id="wrapper">

<header id="header" class="alt">
<a href="index.html" class="logo"><strong> Edge </strong> <span>Parking</span></a>
<nav>
	<a href="#menu">Sign In</a>
</nav>
</header>


<nav id="menu">
<ul class="actions stacked">
	<li><a href="customerindex.html" class="button primary fit"> Log In With Google </a> </li>
	<li><a href="employeelogin.html" class="button fit"> Administrator Sign In </a></li>
	<li><a href=# class="button fit"> Contact Us </a> </li>
</ul>
</nav>

<section id="banner" class="major">
<div class="inner">
	<header class="major">
		<h1>Automated Parking</h1>
	</header>
	<div class="content">
		<p>
			Your fast, personal way of accessing hundreds of parking spaces<br />
			for your convenience.
		</p>
		<ul class="actions">
			<li><a href="#one" class="button next scrolly">Explore Edge Parking</a></li>
		</ul>
	</div>
</div>
</section>


<div id="main">


<section id="one" class="tiles">
	<article>
		<span class="image">
			<img src="../../assets/images/googlemaps.png" alt="" />
		</span>
		<header class="major">
			<h3><a href="map.html" class="link">Map</a></h3>
			<p>Find Your Next Park</p>
		</header>
	</article>

	<article>
		<span class="image">
			<img src="../../assets/images/business.jpeg" alt="" />
		</span>
		<header class="major">
			<h3><a href="businesspass.html" class="link">Business Pass</a></h3>
			<p>Frequent Customer? Check out the perks</p>
		</header>
	</article>
	<article>
		<span class="image">
			<img src="../../assets/images/boomgate.jpeg" alt="" />
		</span>
		<header class="major">
			<h3><a href="cost.html" class="link">Costs</a></h3>
			<p>Check out our prices</p>
		</header>
	</article>
	<article>
		<span class="image">
			<img src="../../assets/images/driving.jpeg" alt="" />
		</span>
		<header class="major">
			<h3><a href="howitworkslanding.html" class="link">How It Works</a></h3>
			<p>Get to know the system</p>
		</header>
	</article>
</section>


<section id="two">
	<div class="inner">
		<header class="major">
			<h2>Who We Are</h2>
		</header>
		<p>
			<b>Edge Parking</b> has been curated by us at Team Edge, with the intention of creating a fully autonomous system, designed to take the guess work out of your journey by help you find a parking location close to your destination, whilst also safely transacting. Our technology is designed for everyone, from the daily commuter, all the way to the casual adventurer.<br>
			You worry less about the finding where you have to park your vehicle, and more about your day ahead.
		</p>
		<ul class="actions">
			<li><a href="aboutteamedge.html" class="button next">Find Out More About Us</a></li>
		</ul>
	</div>
</section>



<section id="contact">
	<div class="inner">
		<section>
			<form method="post" action="#">
				<div class="fields">
					<div class="field half">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" />
					</div>
					<div class="field half">
						<label for="email">Email</label>
						<input type="text" name="email" id="email" />
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="6"></textarea>
					</div>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="primary" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon solid alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="#">info@edgecity.com.au</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon solid alt fa-phone"></span>
					<h3>Phone</h3>
					<span>0400000000</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon solid alt fa-home"></span>
					<h3>Address</h3>
					<span>
						Plenty Road & Kingsbury Drive<br />
						Bundoora VIC 3086<br />
						Victoria Australia
					</span>
				</div>
			</section>
		</section>
	</div>
</section>


<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; EDGE 2021 </li>
		</ul>
	</div>
</footer>

</div>

				

	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery.scrolly.min.js"></script>
	<script src="../../assets/js/jquery.scrollex.min.js"></script>
	<script src="../../assets/js/browser.min.js"></script>
	<script src="../../assets/js/breakpoints.min.js"></script>
	<script src="../../assets/js/util.js"></script>
	<script src="../../assets/js/main.js"></script> 

